*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MedievalSharp', cursive;
}

body{
    background-color: black;
    font-size: 20px;
}

.topo{
    display: flex;
    width: 100vw;
    justify-content: center;
}

.container-topo{
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-content: center;
    width: 900px;
    height: 150px;
}

.container-topo > div{
    padding: 15px;
    font-size: 20px;
    text-align: center;
}
/* ???????
.container-topo > div > p{
    font-size: 20px;
    text-align: center;
}
*/
.container-topo > div > input{
    height: 30px;
    width: 200px;
    border-radius: 10px;
    padding-left:10px;
}

.container-conteudo-principal{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;

}

.sessao-conteudo-principal{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr 1fr;
    background-color: whitesmoke;
    width: 900px;
    height: 600px;
    padding: 50px 0;
}

.container-modificadores{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
}

.container-modificadores > div p{
    text-align: center;
    font-weight: bold;
}

.container-modificadores > div input{
    height: 30px;
    border-radius: 10px;
    padding-left:10px;
}